aiohttp>=3.13.1
discord-py>=2.6.4
flask>=3.1.2
flask-cors>=6.0.1
gunicorn>=23.0.0
pillow>=12.0.0
pynacl>=1.6.0
python-dotenv>=1.1.1
requests>=2.31.0
spotipy>=2.25.1
wavelink>=3.4.1
yt-dlp>=2025.10.22
